<div class='row front_content_main_row profile_event_tpacks_main_row'>
  <div class="w500_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <h4>TicketsPacks</h4>
        <div class="row">
          <div class="col-12">
            <%= link_to 'Create new TicketsPack', { action: :new }, class: 'btn btn-sm btn-outline-success' %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table">
              <tbody class='my_event_tpacks_list_<%= @current_my_event.id %>'>
                <% @current_my_event.event_ticket_packs.each_with_index do |tpack, indx| %>
                  <%= my_event_tpack_item_row_html(tpack) %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row hidden_in_modal">
          <div class="col-12">
            <br /><br /><br /><br /><br /><br />
            <%= link_to "Back to the event page", profile_my_event_path(@current_my_event.id) %>
            <br/><br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

