<div class="catalog_item_main_block payout_option_item_block" >
   <div class="catalog_item2">
      <div class="payout_option_item_body">
        <div class="col-12">
          <a class='item_name_link' href="<%= profile_my_payout_option_path(item.id) %>">
            <%= item.payout_name_for_client.ehtml %>
          </a><br/><br/>
        </div>
      </div>
   </div>
</div>

