<h2 class="mt-5">Main page</h2>
<br/><br/>
This is <a href='mailto::chaky22222222@gmail.com'>chaky22222222@gmail.com</a> demo project. <br/>
Some code from <a target="_blank" href="https://test.vint.com.ua/">https://test.vint.com.ua</a> - this is new front still in dev mode for <a href="https://vint.com.ua" target="_blank">https://vint.com.ua</a>.
<br/><br/><br/>
<a href="https://github.com/chaky222/shuttle_bus" target="_blank">https://github.com/chaky222/shuttle_bus</a><br/><br/><br/>
<a href="/admin/login" target="_blank">Admin dashboard</a>:<br/>
login: admin@example.com<br/>
password: password<br/>
<br/><br/>


DemoUser: <br/>
Login: megatester@test.test<br/>
password: 123123<br/>
<br/><br/><br/><br/>
