<h2 class="mt-5">Main page</h2>
<br/><br/>
<br/><br/><br/>
<a href="/admin/login" target="_blank">Admin dashboard</a>:<br/>
login: admin@example.com<br/>
password: password<br/>
<br/><br/>


DemoUser: <br/>
Login: megatester@test.test<br/>
password: 123123<br/>
<br/><br/><br/><br/>
